In [2]:
import pandas as pd

In [22]:
df = pd.read_csv("../data/csv_files/at200.csv")

In [23]:
df.head()

,Date Time,Actual Conductivity (ÂµS/cm),Specific Conductivity (ÂµS/cm),Salinity (psu),Resistivity (â„¦-cm),Density (g/cmÂ³),Total Dissolved Solids (mg/L),pH (pH),pH MV (mV),ORP (mV),...,Partial Pressure Oâ‚‚ (psi),Temperature (C),External Voltage (V),Pressure (psi),Depth (m),Level: Depth to Water (m),station_id,Level: Elevation (m),easting,northing
0,2023-01-11 14:34:00.000,161.135101,169.814270,0.089782,6205.972656,0.998789,110.379279,6.345863,33.323765,242.252640,...,1.728853,17.324095,15.786,1.576587,1.299949,2.264972,FPZ_04A,NaN,1383303.353,3875869.513
1,2023-01-11 14:39:00.000,161.549484,169.920212,0.089823,6190.053711,0.998772,110.448137,6.392928,30.763149,241.012863,...,1.653776,17.420801,15.813,1.575842,1.299401,2.177014,FPZ_04A,NaN,1383303.353,3875869.513
2,2023-01-12 00:00:00.000,160.563217,167.590134,0.088505,6228.076660,0.998702,108.933590,6.545794,22.439957,233.128357,...,1.121557,17.804754,15.777,1.577938,1.300915,2.175540,FPZ_04A,NaN,1383303.353,3875869.513
3,2023-01-13 00:00:00.000,160.465378,167.549561,0.088486,6231.874023,0.998705,108.907215,6.533609,23.105145,233.137894,...,1.053462,17.786329,15.804,1.586493,1.306872,2.169526,FPZ_04A,NaN,1383303.353,3875869.513
4,2023-01-14 00:00:00.000,160.041122,167.145935,0.088271,6248.394043,0.998707,108.644858,6.524963,23.577213,230.408005,...,1.064563,17.774521,15.786,1.592077,1.310799,2.165600,FPZ_04A,NaN,1383303.353,3875869.513

In [24]:
df.isna().sum()

Date Time                              0
Actual Conductivity (ÂµS/cm)       59688
Specific Conductivity (ÂµS/cm)     59140
Salinity (psu)                      7102
Resistivity (â„¦-cm)               59696
Density (g/cmÂ³)                   59693
Total Dissolved Solids (mg/L)       7105
pH (pH)                             6555
pH MV (mV)                          6587
ORP (mV)                           54506
DO (mg/L)                          54505
% Saturation Oâ‚‚ (% sat)            319
Partial Pressure Oâ‚‚ (psi)          703
Temperature (C)                    54497
External Voltage (V)               55017
Pressure (psi)                     54507
Depth (m)                          54415
Level: Depth to Water (m)          55015
station_id                             0
Level: Elevation (m)              104851
easting                            11322
northing                           11322
dtype: int64

In [25]:
df.shape

(104852, 22)

In [26]:
df = df.drop(columns=["Level: Elevation (m)"])

In [27]:
df = df.dropna()

In [28]:
df.shape

(39187, 21)

In [29]:
df.to_csv("../data/csv_files/filtered_data.csv")

In [30]:
df.isna().sum()

Date Time                         0
Actual Conductivity (ÂµS/cm)      0
Specific Conductivity (ÂµS/cm)    0
Salinity (psu)                    0
Resistivity (â„¦-cm)              0
Density (g/cmÂ³)                  0
Total Dissolved Solids (mg/L)     0
pH (pH)                           0
pH MV (mV)                        0
ORP (mV)                          0
DO (mg/L)                         0
% Saturation Oâ‚‚ (% sat)         0
Partial Pressure Oâ‚‚ (psi)       0
Temperature (C)                   0
External Voltage (V)              0
Pressure (psi)                    0
Depth (m)                         0
Level: Depth to Water (m)         0
station_id                        0
easting                           0
northing                          0
dtype: int64